@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --theme-hue: 41;
  --theme-saturation: 100%;
  --theme-bg-luminance: 100%;
  --theme-text-luminance: 0%;
  --app-bg-color: hsl(var(--theme-hue), var(--theme-saturation), var(--theme-bg-luminance));
  --primary-text-color: hsl(var(--theme-hue), var(--theme-saturation), var(--theme-text-luminance));
  --secondary-text-color: hsla(
    var(--theme-hue),
    var(--theme-saturation),
    var(--theme-text-luminance),
    0.6
  );

  --base-font-size: 10px;
  font-size: var(--base-font-size);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--app-bg-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-text-color);
  font-size: 1.4rem;
  background: none !important;
}
